body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #45a049;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#imageFile {
  display: none;
}

#imageFileLabel {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 2% auto;
  width: 50%;
  font-size: 16px;
}

#fileFeedback {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: none;
}

#fileFeedback img {
  max-width: 100px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#imageFileLabel:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
}

#result h3 {
  font-size: 20px;
}

#emotionText {
  font-size: 18px;
  font-weight: bold;
}

#confidenceText {
  font-size: 16px;
  color: gray;
}
